<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for elemento in productos %} <!--elemento es un objeto de tipo: productos(class)(ver poo)-->
            <li>  {{elemento.producto}}, {{elemento.cantidad}}  </li> 
        {% endfor %}                                             
    </ul>
</body>
</html>
